<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <table>
    <th>
        <td>Name</td>
        <td>Contact</td>
        <td>Email</td>
        <td>Password</td>
       
    </th>

    {% for cart in carts%}
    <tr>
        <td>{{customer.name }}</td>
        <td>{{customer.contact}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.password}}</td>
        <!--Link to the Product Detail Page-->
        <td><a href="{% url 'product_detail_view' id=product.id %}">View product...</a></td>
        <td><a href="{% url 'product_edit_view' id=product.id %}"> <button>Edit</button></a></td>


    </tr>
    {% endfor %}

  </table>  
</body>
</html>


