<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{shipment.DELIVERY_CHOICES  }}</p>
    <p>{{shipment.name}}</p>
    <p>{{shipment.ordername}}</p>
    <p>{{shipment.orderTotal}}</p>
    <p>{{shipment.locattion}}</p>
    <p>{{shipment.deliveryType}}</p>
    <p>{{shipment.totalcost}}</p>
    <p>{{shipment.status}}</p>
    <p>{{shipment.date_craeted}}</p>
    <p>{{shipment.date_updated}}</p>
</body>
</html>

